<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="CustomParameters" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <CustomParameters>
    <add key="InputFolder" value="C:\temp" />
    <add key="OutputFolder" value="C:\tmp2" />
    <add key="FindReplace" value="left||right@@left2||right2@@left3||rite3" />
    
  </CustomParameters>


</configuration>
